// color vars
$heathered-gray: #b2a98f;
$alpha-black: rgba(0, 0, 0, 0.15);
$alpha-black-main: rgba(0, 0, 0, 0.1);

// font vars
$washington-text-font: 'Washington Text', sans-serif;

// media queries vars
$mobile-m: 375px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-l: 992px;
$desktop: 1024px;
$wide: 1200px;
